
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.wrapper {
  font-size: 18px;

  .panel--btns {
    text-align: right;
    margin-bottom: 20px;
  }

  .btn, .alert {
    border-radius: 0;
  }

  #terminal{

    .btn--close {
      float: right;
      position: relative;
      top: -40px;
    }

    iframe{
      width: 100%;
      height: 500px;
      display: none;
    }

    .alert{
      display: none;
    }

    &.-load-show {
      iframe{
        display: block;
      }
    }
  }
}